<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.syncdroid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" 
    			 android:label="@string/app_name"
    			 android:name="de.syncdroid.SyncApplication" android:debuggable="false" android:allowBackup="true">
    			 
        <!-- The authenticator service -->
        <service
            android:name="de.syncdroid.service.AuthenticationService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        
        
        <service
            android:name="de.syncdroid.SyncService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    			 
    			 
        <activity android:name="de.syncdroid.activity.ProfileListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.syncdroid.activity.ProfileEditActivity"></activity>
        <activity android:name="de.syncdroid.activity.LocationEditActivity" android:label="@string/app_name"></activity>
        <activity android:name="de.syncdroid.activity.LocationListActivity" android:label="@string/app_name"></activity>
        <activity android:name="de.syncdroid.activity.LogViewActivity" android:label="@string/app_name"></activity>
        <activity android:name="de.syncdroid.activity.SettingsActivity" android:label="@string/app_name"></activity>

    	<service android:name="de.syncdroid.service.LocationDiscoveryService"/>
    	
        <receiver android:name="de.syncdroid.SyncBroadcastReceiver" android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SCREEN_OFF" />
            </intent-filter>
            <intent-filter>
                <action android:name="de.syncdroid.ACTION_PROFILE_UPDATE" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="7" />

	<!--  used for connecting to remote servers -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <!--  used for accessing the filesystme -->
    <uses-permission android:name="android.permission.STORAGE"></uses-permission>

    <!--  used for auto starting the application -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    
    <!--  used for determining cell location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <!--  used for determining wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    
    
    
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS" />


</manifest> 